@page
@model WebApplication1.Features.Clients.Pages.Test

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Clients";
}


<!DOCTYPE html>

<html>
<head>
    <title>test</title>
</head>
<body>
<div>
    
</div>
</body>
</html>